@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
// .excalidraw {
//   --color-primary-contrast-offset: #625ee0;
// }
